html, body, span, ul,
li, form, label {
margin: 0px;
padding: 0px;
font-size: 100%;
vertical-align: baseline;
border: 0px;
outline: 0px;
background: transparent;
box-sizing: border-box;
}
ul {
list-style: none;
}
.closeAction {
margin:0px;
padding:0px;
width:22px;
height:22px;
position:absolute;
right:7px;
top:7px;
z-index:999;
}
body{font-family:'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px; background:#252323;}
#form {margin: 50px auto;width: 500px;}
#form label {display:block; padding:10px;margin:10px 0; color:#fff;background:#ee7829; text-transform:uppercase;}
#form label span{color:#8d3900;}
#form textarea{ width:490px; height:150px;outline:none;border:0; padding:5px;}
#form input[type="button"]{display:block;outline:none;border:0; padding:10px 20px;background:#dc3f3f; color:#fff; text-transform:uppercase; margin:10px 0;}
#form input[type="button"]:hover{cursor:pointer;background:#ee7829;}
#events{width:500px; margin:0 auto;}

#events li{padding:10px; margin:10px 0;width:190px; border:1px dashed #ee7829;position:relative;text-align:center;color:#fff;background:url(close.png) no-repeat right; background-position:200px 8px;
     -webkit-transition: background-position ease-out 0.5s;
     -moz-transition: background-position ease-out 0.5s;
     -o-transition: background-position ease-out 0.5s;
     transition: background-position ease-out 0.5s;
}
#events li:hover {border:1px solid #ee7829;cursor:pointer; background-position:160px 8px;}
#events li:hover .tip{display:block;}
.tip{display:none; position:absolute;left:100%;top:-1px;margin-left:10px;width:300px; border:1px solid #ee7829;padding:10px;min-height:30px;background:#fff;color:#666;text-align:left;}
#events li .tip:before{content: "";position: absolute;left:-20px;top:8px;border-style:solid;border-width:10px;border-color:transparent #ee7829 transparent transparent;height: 0;width: 0;}
